/* Tailwind Preflight */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    height: 100%;
    margin: 0;
    font-family: "Inter", sans-serif;
    --mantine-color-text: var(--mantine-color-gray-2);
  }

  body {
    height: 100%;
    margin: 0;
    font-family: "Inter", sans-serif;
    --mantine-color-text: var(--mantine-color-gray-2);
  }

  code {
    font-family: "Source Code Pro", "Monaco", monospace;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: inherit;
  }
}

/* Normalize CSS */
