.marketPage {
  display: flex;
  padding: 10px;
  gap: 10px;
  flex-wrap: wrap;
  max-width: 90%;
}

.marketPage .title {
  flex: 100%;
  padding: 15px;
}

.marketChartWrapper {
  display: flex;
  flex-direction: column;
  flex: 100%;
  gap: 10px;
}

.marketButtonWrapper {
  display: flex;
  /* flex: 30%; */
}

.priceButton {
  margin-right: 10px;
}
