.marketPage {
  display: flex;
  width: 100%;
  flex: 100%;
  padding: var(--mantine-spacing-lg) var(--mantine-spacing-xl);
  flex-direction: column;
  gap: var(--mantine-spacing-md);
  overflow-y: scroll;
  overflow-x: hidden;
}

.forFun {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
