.priceTracker {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
}

.priceTrackerOptions {
  display: flex;
  flex: 100%;
  gap: 20px;
}

.priceTrackerItemSelect {
  width: 400px;
}

.priceTrackerTimeSelect {
  width: 120px;
  justify-self: end;
}
